<h1 mat-dialog-title> ADD CUSTOMER KHATA </h1>
<form [formGroup]="khataFom" autocomplete="off" novalidate>
    <mat-dialog-content>
        <div class="">
            <mat-form-field appearance="outline">
                <input matInput type="number" list="customerid" placeholder="Customer Number" formControlName="customer_number" (change)="onChangeDataset()">
                <mat-error *ngIf="khataFom['controls']['customer_number'].invalid">{{ErrorMessage('Customer Number')}}
                </mat-error>

                <datalist id="customerid">
                    <option *ngFor="let customerdata of conatctBookList" [value]="customerdata.contact_number" >
                </datalist>
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <div class="">
                <mat-form-field appearance="outline">
                    <input  matInput formControlName="customer_name" placeholder="Cutomer Name">
                    <mat-error *ngIf="khataFom['controls']['customer_name'].invalid">{{ErrorvalidMessage('Cutomer Name')}}
                    </mat-error>
                    <mat-icon matSuffix> person</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <div   class="both_btn">
        <div class="Modal_delete_footer">
            <button mat-stroked-button color="primary" type="submit" [disabled]="!khataFom.valid" (click)="onSubmit()"
            class="uppercase_button">Save</button>
            <button mat-stroked-button color="warn" (click)="cancel('Cancel')"
                class="cancle_deelete_button">Cancel</button>
          
        </div>
    </div>
</form>