<mat-icon style=" float: right;
 cursor: pointer;" (click)="close()"> close</mat-icon>
<h2 *ngIf="updateData" class="menu_item"> Invoice - # {{updateData.bill_no}} </h2>
<mat-dialog-content>
    <div *ngIf="updateData" class="invoice-box" id="htmlData">
        <div class="flex-container ">
            <div style="font-weight:700">
                Date: {{updateData.create_date | date:'medium'}} <br/>
                <b>Customer Address </b> <br />
                <Address> {{updateData.cutomer_address}}</Address> <br />
               
            </div>
            <div>
                <b>Customer Details</b> <br />
                Name :{{updateData.cutomer_name | titlecase}}<br />
                NO :{{updateData.cutomer_number}}
            </div>
        </div>
        <table>
            <tr class="heading">
                <td>Item</td>
                <td>Price</td>
                <td style="color: green; padding-left: 92px;">Restro Name</td>
            </tr>
            <tr class="item" *ngFor="let billorderlist of billupdate.items">
                <td>{{billorderlist.name}}-({{billorderlist.qty}})</td>
                <td> Rs {{billorderlist.price}}</td>
                <td style="color: green; padding-left: 92px;"> {{billorderlist.restro_name}}</td>
            </tr>
        </table>
    </div>
</mat-dialog-content>
<div class="btns">
    <span *ngIf="updateData">Total: Rs {{updateData.total_bill}}</span>
    <span class="button" (click)="generatePDF('Download')">Download Pdf</span>
    <span class="button" (click)="generatePDF('Print')">Print Pdf</span>
    <span class="button" style="color: red;" (click)="deleteUser()">Completed Order</span>
</div>