.back{}
.invoice-wrapper{
	margin: 20px auto;
	max-width: 700px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.invoice-top{
    background-color: #fafafa;
    padding: 0px 19px;
}
/*
Invoice-top-left refers to the client name & address, service provided
*/
.invoice-top-left{
    margin-top: -16px;
}
.invoice-top-left h2 , .invoice-top-left h6{
	line-height: 1.5;
}
.invoice-top-left h4{
	margin-top: 30px;
}
.invoice-top-left h5{

	font-weight: 400;
}
.client-company-name{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 0;
}
.client-address{
	font-size: 14px;
	margin-top: 5px;
	color: rgba(0,0,0,0.75);
}

/*
Invoice-top-right refers to the our name & address, logo and date
*/
.invoice-top-right h2 , .invoice-top-right h6{
    text-align: left;
    line-height: 18px;
    font-size: 12px;

}
.invoice-top-right h5{
	line-height: 1.4;
    font-weight: 400;
    text-align: right;
    margin-top: 0;
}
.our-company-name{
    font-size: 13px !important;
    margin-bottom: 0;

}
.our-address{
	font-size: 13px;
	margin-top: 0;
	color: rgba(0,0,0,0.75);
}
.logo-wrapper{ overflow: auto; }

/*
Invoice-bottom refers to the bottom part of invoice template
*/
.invoice-bottom{
    background-color: #ffffff;
    padding: 0px 19px;
    float: left;
    width: 100%;
}
.title{
	font-size: 30px;
	font-weight: 600;
}
/*
Invoice-bottom-left
*/
.invoice-bottom-left h5, .invoice-bottom-left h4{
}
.invoice-bottom-left h4{
	font-weight: 400;
}
.terms{
	font-size: 14px;
	margin-top: 40px;
}
.divider{
	margin-top: 50px;
    margin-bottom: 5px;
}
/*
bottom-bar is colored bar located at bottom of invoice-card
*/
.bottom-bar{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    height: 5px;
	background-color: #323149;
}
.buttoninvoice {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 22px;
    border-radius: 5px;
    line-height: 1;
    border: 1px solid #343a4070 !important;
    color: #404089;
    font-size: 0.875rem;
    transition: 0.15s ease;
    background-color: #ffffff;
    margin: 2px;
    cursor: pointer;
    font-size: 9px;
}

.titlehead{
	text-align: center;
    font-weight: 500;
}
.btns{
  text-align: center;
  margin-top: 20px;
}
.closeicon{
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
}
.prdct-qty-close {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50px;
    background-color: #d8190c;
    color: #fff;
    font-size: 0px;
    padding: 3px;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 6px;
}

.table td{
    padding: 2px !important;
    font-size: 11px;

}