
<ng-container *ngIf="updateData && updateData.status === 'tablebook'">
  <mat-icon style=" float: right;
 cursor: pointer;" (click)="close()"> close</mat-icon>
<h2 *ngIf="updateData" class="menu_item"> Invoice - # {{updateData.bill_no}} 
    <div class="btns">
      <button printSectionId="print-section" ngxPrint>print</button> 
        <span class="buttoninvoice"  (click)="generatePDF('Download','counter')">Download Pdf</span>
        <span class="buttoninvoice"(click)="generatePDF('Download','counter')">Print Pdf</span>
        <span class="buttoninvoice" style="color: red;" (click)="deleteUser()">Completed Order</span>
    </div>
</h2>
<section class="back" id="print-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="invoice-wrapper">
          <div class="invoice-top">
            <div class="col-xs-12">
              <h2 class="titlehead">{{userdata.company_name}} </h2>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="invoice-top-left">
                  <h2 class="client-company-name">Customer</h2>
                  <p> {{updateData.cutomer_name | titlecase}}</p>
                  <p> {{updateData.cutomer_number}}</p>
                  <p><b>Invoice </b> : # {{updateData.bill_no}}</p>
                  <p><b>Created Date </b>:  {{updateData.create_date | date:'medium'}} </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="invoice-top-right">
                  <h2 class="our-company-name"> {{userdata.company_name}}</h2>
                  <h2 class="our-company-name"> {{userdata.phone_number}}</h2>
                  <h2 class="our-company-name"> {{userdata.email}}</h2>
                  <h2 class="our-company-name"> {{userdata.shop_address}}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-bottom">
            <div class="row">
              
              <div class="clearfix"></div>

              <div class="col-md-offset-1 col-md-11 col-sm-11">
                <div class="invoice-bottom-right">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tr *ngFor="let billorderlist of billupdate.items">
                      <td>{{billorderlist.name}}</td>
                      <td>{{billorderlist.qty}}</td>
                      <td> ₹ {{billorderlist.price}}</td>
                  </tr>
                  <thead>
                    <tr>
                      <th>Discount</th>
                      <th></th>
                      <th *ngIf="updateData.discount !== ''">₹{{updateData.discount}}</th>
                      <th *ngIf="updateData.discount === ''">₹00</th>
                    </tr>
                  </thead>
                    <thead>
                      <tr>
                        <th>Total</th>
                        <th></th>
                        <th> ₹{{updateData.total_bill}}</th>
                      </tr>
                    </thead>
                  </table>
                  <ul>
                    <li>Thankyou For Visit.</li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="bottom-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</ng-container>


<ng-container *ngIf="updateData && updateData.bill_status === 'counter'">
  <mat-icon style=" float: right;
 cursor: pointer;" (click)="close()"> close</mat-icon>
  <div class="btns">
      <span class="buttoninvoice" (click)="generatePDF('Download','counter')">Download Pdf<mat-icon>picture_as_pdf</mat-icon> </span>
      <span class="buttoninvoice" (click)="generatePDF('Print','counter')">Print Invoice <mat-icon>print</mat-icon></span>
  </div>
<section class="back">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="invoice-wrapper">
          <div class="invoice-top">
            <div class="col-xs-12">
              <h2 class="titlehead">{{userdata.company_name}} </h2>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="invoice-top-left">
                  <h2 class="client-company-name">Customer</h2>
                  <p> {{updateData.cutomer_name | titlecase}}</p>
                  <p> {{updateData.cutomer_number}}</p>
                  <p><b>Invoice </b> : # {{updateData.bill_no}}</p>
                  <p><b>Created Date </b>:  {{updateData.create_date | date:'medium'}} </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="invoice-top-right">
                  <h2 class="our-company-name"> {{userdata.company_name}}</h2>
                  <h2 class="our-company-name"> {{userdata.phone_number}}</h2>
                  <h2 class="our-company-name"> {{userdata.email}}</h2>
                  <h2 class="our-company-name"> {{userdata.shop_address}}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-bottom">
            <div class="row">
              
              <div class="clearfix"></div>

              <div class="col-md-offset-1 col-md-11 col-sm-11">
                <div class="invoice-bottom-right">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tr *ngFor="let billorderlist of billupdate.items">
                      <td>{{billorderlist.menu_name}}</td>
                      <td>{{billorderlist.qty}}</td>
                      <td> Rs {{billorderlist.menu_price}}</td>
                  </tr>
                  <thead>
                    <tr>
                      <th>Discount</th>
                      <th></th>
                      <th *ngIf="updateData.discount !== ''">₹{{updateData.discount}}</th>
                      <th *ngIf="updateData.discount === ''">₹00</th>
                    </tr>
                  </thead>
                    <thead>
                      <tr>
                        <th>Total</th>
                        <th></th>
                        <th> ₹{{updateData.total_bill}}</th>
                      </tr>
                    </thead>
                  </table>
                  <ul>
                    <li>Thankyou For Visit.</li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="bottom-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</ng-container>


<ng-container *ngIf="updateData && updateData.bill_status === 'counterlist'">
  <mat-icon style=" float: right;
 cursor: pointer;" (click)="close()"> close</mat-icon>
  <div class="btns">
      <span class="buttoninvoice" (click)="generatePDF('Download','counterlist')">Download Pdf<mat-icon>picture_as_pdf</mat-icon> </span>
      <span class="buttoninvoice" (click)="generatePDF('Print','counterlist')">Print Invoice <mat-icon>print</mat-icon></span>
  </div>
<section class="back">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="invoice-wrapper">
          <div class="invoice-top">
            <div class="col-xs-12">
              <h2 class="titlehead">{{userdata.company_name}} </h2>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="invoice-top-left">
                  <h2 class="client-company-name">Customer</h2>
                  <p> {{updateData.cutomer_name | titlecase}}</p>
                  <p> {{updateData.cutomer_number}}</p>
                  <p><b>Invoice </b> : # {{updateData.bill_no}}</p>
                  <p><b>Created Date </b>:  {{updateData.create_date | date:'medium'}} </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="invoice-top-right">
                  <h2 class="our-company-name"> {{userdata.company_name}}</h2>
                  <h2 class="our-company-name"> {{userdata.phone_number}}</h2>
                  <h2 class="our-company-name"> {{userdata.email}}</h2>
                  <h2 class="our-company-name"> {{userdata.shop_address}}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="invoice-bottom">
            <div class="row">
              
              <div class="clearfix"></div>

              <div class="col-md-offset-1 col-md-11 col-sm-11">
                <div class="invoice-bottom-right">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tr *ngFor="let billorderlist of billupdate.items">
                      <td>{{billorderlist.name}}</td>
                      <td>{{billorderlist.qty}}</td>
                      <td> Rs {{billorderlist.price}}</td>
                  </tr>
                  <thead>
                    <tr>
                      <th>Discount</th>
                      <th></th>
                      <th *ngIf="updateData.discount !== ''">₹{{updateData.discount}}</th>
                      <th *ngIf="updateData.discount === ''">₹00</th>
                    </tr>
                  </thead>
                    <thead>
                      <tr>
                        <th>Total</th>
                        <th></th>
                        <th> ₹{{updateData.total_bill}}</th>
                      </tr>
                    </thead>
                  </table>
                  <ul>
                    <li>Thankyou For Visit.</li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="bottom-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</ng-container>


