@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");




img {
	display: block;
	max-width: 100%;
}

:focus {
	outline: 0;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header {
    display: flex;
	float: left;
	width: 100%;
    align-items: center;
    height: 55px;
	background: linear-gradient(-135deg, #c850c0, #262833);
}

.header-content {
	display: flex;
	align-items: center;
	& > a {
		display: none;
	}
	@media (max-width: 1200px) {
		justify-content: space-between;
		& > a {
			display: inline-flex;
		}
	}
}

.header-logo {
    margin-right: 2.5rem;
    /* margin-top: -9px; */
    font-weight: 900;
    font-size: 30px;
    color: rgb(255, 255, 255);
	text-transform: capitalize;
	cursor: pointer;
	a {
		display: flex;
		align-items: center;
		div {
			// outline: 2px solid;
			flex-shrink: 0;
			position: relative;
			&:after {
				display: block;
				content: "";
				position: absolute;
				left: 0;
				top: auto;
				right: 0;
				bottom: 0;
				overflow: hidden;
				height: 50%;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				background-color: rgba(#fff, 0.2);
				backdrop-filter: blur(4px);
				text-decoration: none;
				color: #fff;
				font-weight: 500;
				transition: 0.15s ease;
			}
		}
	}
}

.header-navigation {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: none;
	}
}

.header-navigation-links {
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
	    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.15s ease;
		font-weight: 500;
		transition: 0.15s ease;
		& + * {
			margin-left: 1.5rem;
		}

		&:hover,
		&:focus ,&:active{
		    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.15s ease;
	font-size: 20px;
		}
	}
}

.active{
	text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: 0.15s ease;
	font-size: 20px;
	border-bottom: 1px solid;
}

.header-navigation-actions {
	display: flex;
	align-items: center;
	& > .avatar {
		margin-left: 0.75rem;
	}
	& > .icon-button + .icon-button {
		margin-left: 0.25rem;
	}

	& > .button + .icon-button {
		margin-left: 1rem;
	}
}


.spacer {
	flex: 1 1 auto;
  }

  .title {
	cursor: pointer;
  }

  .welcome-text {
	font-size: smaller;
  }