


img {
	display: block;
	max-width: 100%;
}

:focus {
	outline: 0;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header {
    display: flex;
	float: left;
	width: 100%;
    align-items: center;
    height: 55px;
	background: linear-gradient(-135deg, #c850c0, #262833);
}


.spacer {
	flex: 1 1 auto;
  }

  .title {
	cursor: pointer;
  }

  .welcome-text {
	font-size: smaller;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {

    height: 53px !important;
    font-size: 19px !important;
    background-color:#000a71de !important;
}