

<mat-toolbar color="primary">
  <button (click)="menuToggled.emit(true)" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" routerLink="/">Dashboard</span>
  <span class="spacer"></span>
  <span  *ngIf="userData && userData.company_name"  class="welcome-text">Hello </span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>