<header class="header">
    <div class="header-content responsive-wrapper">
        <div class="header-logo">
            <!-- <a href="#">
				<div>
					<img src="https://assets.codepen.io/285131/untitled-ui-icon.svg" />
				</div>
			</a>  -->
            <span *ngIf="userData && userData.company_name" [routerLink]="['/bill']">{{this.userData.company_name}}</span>
        </div>
        <div class="header-navigation">
            <nav class="header-navigation-links">
                <a [routerLink]="['/bill']"> Home </a>
                <a   [routerLink]="['/menu']">  Menu </a>
                <a  [routerLink]="['/table']">  Table </a>
                <a [routerLink]="['/contact']">  Customer </a>
            </nav>
       
        </div>
        <div class="header-navigation-actions">
          <div class="header-navigation-actions">
              <button class="button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>reorder</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button [routerLink]="['/menu']" mat-menu-item>
                    <mat-icon>list_alt</mat-icon>
                    <span>Add Menu</span>
                  </button>
                  <button [routerLink]="['/table']" mat-menu-item >
                    <mat-icon>weekend</mat-icon>
                    <span>Add Table</span>
                  </button>
                  <button [routerLink]="['/contact']" mat-menu-item >
                    <mat-icon>phone</mat-icon>
                    <span>Add Contact</span>
                  </button>
                  <button  [routerLink]="['/profile']" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Profile</span>
                  </button>
                  <button  (click)="logout()" mat-menu-item>
                    <mat-icon>settings_power</mat-icon>
                    <span>Logout</span>
                  </button>
                </mat-menu>
          </div>
      </div>
    </div>
</header>