.mobile_menu{

  float: left;
    width: 100%;
    max-height: 312px !important;
    overflow-y: auto;
}
.mobile_menusub{
    width: 29%;
    float: left;
    height: 65px;
    background: #fff;
    margin: 6px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 12px;
    background: #fff;
    position: relative;
    border-radius: 8px;
    padding: 1px 8px 3px;
    transition-duration: 0.15s;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}
.width_50{
    float: left;
    width: 47%;
    margin: 3px;
}