.listwrap {
    padding: 2px;
    border: 1px solid #e9ecef;
    float: left;
    width: 98%;
    margin-top: 1px;
}

.table {
    text-align: center;
}

.prdct-qty-close {
    margin-top: 5px !important;
}

.bbutton {
    color: #fff !important;
    background: #aa0e03c2 !important;
    width: 32%;
}


.gridviewwrap {
    float: left;
    width: 99%;
    border: 1px solid #dee2e6;
    padding: 2px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 4px;
}

.border-right {
    border-right: 2px solid #dee2e6 !important;
    border-radius: 2px;
}

.newinput input {
    width: 100%;
    outline: none;
    font-size: 10px;
    padding-left: 20px;
    border: 2px solid rgb(0 0 0 / 65%);
    border-radius: 3px;
    transition: all 0.3s ease;
    height: 30px;
}

.wrapperdiv1 div {
    float: left;
    width: 48%;
    /* border-right: 94px solid rebeccapurple !important; */
    padding: 4px;
    margin-right: 9px;
    border-radius: 4px;
    /* border: solid; */
    opacity: 0.8;
    text-align: center;
    background: #21212191;
    color: white;
}

.wrapperdiscount input {
    border-radius: 3px;
    /* border: none; */
    font-size: 12px;
    padding: 7px;
}

.wrapperdiscount {
    padding: 2px;
    float: left;
    width: 100%;
    margin-top: 0px;
    background: #dee2e659;
    color: #212121;
    border-radius: 2px;
}

.wrapperdiscountlist {
    // padding: 11px;
    // width: 100%;
    // margin-top: 0px;
    // background: rgba(0, 0, 0, 0.6);
    // color: white;
}
.wrapperdiscountlist input {
    padding: 8px;
    width: 100%;
    margin-top: 0px;
    /* background: rgba(0, 0, 0, 0.6); */
    text-align: center;
    border: 2px solid gray;
    border-radius: 3px;
   
}
.wrapperdiscountlist select {
    width: 100% !important;
    margin-top: 0px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 8px !important;
   
}
.wrapperdiscount select {

     display: block;
    border-radius: 3px;
    color: black;
    padding: 9px;
   font-size: 12px;
}

.mobilewrplist input{
    width: 100%;
    padding: 1px;
    text-align: center;
    margin: 2px;
    border: 1px solid;
}
.mobilewrplist select{
    width: 100%;
    padding: 1px;
    text-align: center;
    margin: 2px;
    border: 1px solid;
}


.width30 {
    float: left;
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}

.wrapperdivbtn {
    /* display: grid; */
    /* padding: 10px; */
    /* border-top: 2px solid gray; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* border-bottom: 2px solid gray; */
    float: left;
    width: 100%;
    margin: 10px;
}

.spant {
    padding-top: 9px;
    font-size: 12px;
}

.checktax {
    font-size: 13px;
    margin-left: 3px;
}

.divtotal {
    text-align: center;
    background: #f8f9fa;
    color: #fff;
    font-size: 13px;
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 100%;
    background: #28a745;
    font-weight: 500;
    float: left;
    margin-top: 1px;
}

.divtotalmobile {
    width: 100% !important;
    text-align: center !important;
    background: #28a745 !important;
    color: #fff !important;
    font-size: 18px !important;
    border-radius: 4px !important;
    height: 42px !important;
    line-height: 38px !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-left: 0px !important;
    margin-top: 0px !important;
    float: left;
}

.bbuttonmobile {
    color: #fff !important;
    background: #021b10ab !important;
    text-shadow: 0 1px 3px rgba(1, 17, 11, 0.4);
    white-space: nowrap;
    display: inline-block;
    height: 24px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-decoration: none;
    transition: all 0.15s ease;
    cursor: pointer;
    border: none;
    color: #fff;
    margin-top: 4px;
    margin-right: 2px;
    width: 27%;
    margin-left: 17px;
}

.cardcart {

    margin-top: 0px;
}

#sidebar {
    width: 22%;
    height: 400PX !important;
    overflow: auto;
    float: left;
}

.buttonsbox1 {
    float: left;
    width: 78%;
    text-align: center;
}

.box2 {
    float: left;
    width: 23%;
    margin: 3px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}


.list-group-item {
    font-size: 11px;
    width: auto;
    height: 28px;
    font-weight: 500;

}

.col-md-6 {
    padding-left: 0px !important;
    padding: 0px !important;
}



.container-search .form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 2px !important;
    margin-top: 5px;
    border: 2px solid rgb(0 0 0 / 34%) !important;
    margin-left: 0px;
    margin-bottom: 5px;
}

.col-md-11 {
    flex: 0 0 auto;
    width: 93.666667%;
}

.container-search .form .fa-search {
    position: absolute;
    top: 16px;
    left: 26px;
    color: #9ca3af;
}

.inp {
    border: 2px solid gray !important;
    border-radius: 3px !important;
    padding: 4px !important;
    width: 88px;
    text-align: center;
    font-weight: 600;
}

.maindiv {
    margin-top: 3px;
}