.grid-wrapper{
  padding:10px;
}


.container-search{ 
  float: left;
  width: 90%;
  margin: 5px;
  
  .form-input {
      border-color: #19a78b;
      height: 35px;
      text-indent: 33px;
      border-radius: 10px;
      margin-top: 5px;
      margin-left: 14px;
      border: 2px solid #18a2878f;
      margin-left: 2px;
  }
  
  }
  