.Modal_header {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
    position: relative;
    text-align: left;
    background: #FFF;
    border-radius: 2px 2px 0 0;
    word-wrap: break-word;
}

.Modal_content {
    overflow-y: auto;
    color: #ed6056;
    float: left;
    width: 100%;
    font-size: larger;
}

.Modal_explanation {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.Modal_footer {
    float: right;
    padding: 14px;
}

.delete_btn {
    margin: 10px;
}
.Modal_delete_footer  button{
    float: right;
    margin: 2px;
    margin-top: 20px;

    
}