
:focus {
	outline: 0;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}


.main {
	padding-top: 1rem;
}
.booked{
	color: red;
	font-weight: 600;
	font-size: 11px;
}
.tableno{
	margin-left: 0.75rem;
    font-weight: 500;
    border: 1px solid grey;
	padding: 0px 5px 0px 7px;
    font-size: 10px;
}

  .menuwrapper {
	float: left;
    max-width: 405px;
    /* position: fixed; */
    background: #fff;
    border-radius: 7px;
    padding: 28px 0 40px;
    /* transition-duration: 0.15s; */
    /* margin: 0px auto !important; */
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    margin-left: 437px;
    width: 100%;
    margin-top: 10px;
}


  .task-input {
	position: relative;
	height: 52px;
	padding: 0 25px;
  }
  
  .task-input ion-icon {
	position: absolute;
	top: 50%;
	color: #999;
	font-size: 25px;
	transform: translate(17px, -50%);
  }
  
 
  
  .task-input input:focus,
  .task-input input.active {
	padding-left: 52px;
	border: 2px solid  #003366;
  }
  
  .task-input-1 {
	float: left;
    width: 40%;
    margin: 9px;
  }
  .task-input-2{
	float: left;
    width: 40%;
    margin: 9px;
  }
  
  .controls,
  
  .controls {
	padding: 18px 9px;
	border-bottom: 1px solid #ccc;
  }
  
  .filters span {
	margin: 0 8px;
	font-size: 17px;
	color: #444444;
	cursor: pointer;
  }
  
  .filters span:first-child {
	margin-left: 0;
  }
  
  .filters span.active {
	color: #f12711;
  }
  
  .clear-btn {
	border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
    width: 332px;
    margin-bottom: 12px;
    // margin: 14px;
  }
  
  .clear-btn.active {
	opacity: 0.9;
  }
  
  .clear-btn:active {
	transform: scale(0.93);
  }
  
  .task-box {
	margin-top: 20px;
	margin-right: 5px;
	padding: 0 20px 10px 25px;
  }
  
  .task-box.overflow {
	overflow-y: auto;
	max-height: 300px;
  }
  
  .task-box::-webkit-scrollbar {
	width: 5px;
  }
  
  .task-box::-webkit-scrollbar-track {
	background: #f12711;
	border-radius: 25px;
  }
  
  .task-box::-webkit-scrollbar-thumb {
	background: #e6e6e6;
	border-radius: 25px;
  }
  
  .task-box .task {
	list-style: none;
	font-size: 17px;
	margin-bottom: 18px;
	padding-bottom: 16px;
	align-items: flex-start;
	border-bottom: 1px solid #ccc;
  }
  
  .task-box .task:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
  }
  
  .task-box .task label {
	display: flex;
	align-items: flex-start;
  }
  
  .task label input {
	margin-top: 7px;
	accent-color: #f12711;
  }
  
  .task label p {
	user-select: none;
	margin-left: 12px;
	word-wrap: break-word;
  }
  
  .task label p.checked {
	text-decoration: line-through;
  }
  
  .task-box .settings {
	position: relative;
  }
  
  .settings :where(i, li) {
	cursor: pointer;
  }
  
  .settings .task-menu {
	position: absolute;
	right: -5px;
	bottom: -65px;
	padding: 5px 0;
	background: #fff;
	border-radius: 4px;
	transform: scale(0);
	transform-origin: top right;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s ease;
	z-index: 10;
  }
  
  .task-box .task:last-child .task-menu {
	bottom: 0;
	transform-origin: bottom right;
  }
  
  .task-box .task:first-child .task-menu {
	bottom: -65px;
	transform-origin: top right;
  }
  
  .task-menu.show {
	transform: scale(1);
  }
  
  .task-menu li {
	height: 25px;
	font-size: 16px;
	margin-bottom: 2px;
	padding: 17px 15px;
	cursor: pointer;
	justify-content: flex-start;
  }
  
  .task-menu li:last-child {
	margin-bottom: 0;
  }
  
  .settings li:hover {
	background: #f5f5f5;
  }
  
  .settings li i {
	padding-right: 8px;
  }
  
  @media (max-width: 400px) {
	body {
	  padding: 0 10px;
	}
	.wrapper {
	  padding: 20px 0;
	}
	.filters span {
	  margin: 0 5px;
	}
	.task-input {
	  padding: 0 20px;
	}
	.controls {
	  padding: 18px 20px;
	}
	.task-box {
	  margin-top: 20px;
	  margin-right: 5px;
	  padding: 0 15px 10px 20px;
	}
	.task label input {
	  margin-top: 4px;
	}
  }
  

  .errorspan{
	float: left;
    width: 100%;
    margin-left: 2px;
    color: red;
    padding-bottom: 9px;
    padding-top: 7px;
  }
  .taskwrapper{

  }

  .menu-container{
	float: left;
	width: 100%;
  }

  .menu-container mat-form-field{
    float: left;
    width: 96%;
    margin: 5px;
  }
  .table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center !important;
}