<div class="wrapper">
  <mat-icon style="float: right;
  cursor: pointer;" (click)="cancel()" > close</mat-icon>
    <div  class="signup-box">
     <div >
       <h1> Update Profile   </h1>
       <hr/>
     </div>

       <form  [formGroup]="sginupForm" novalidate >
         <label> Name</label>
         <input type="text" formControlName="name"  placeholder="Enter Name" />
         <div class="input-container">
          <select formControlName="shop_type"   class="input" >
             <option value="restaurant">Restaurant </option>
             <option value="shop">Shop </option>
          </select>
         </div>
         <label>Shop Name</label>
         <input type="text" formControlName="company_name" placeholder="Restaurants Name" />
         <label>Shop Address</label>
         <input type="text"  formControlName="shop_address" placeholder="Shop Address" />
         <label>Email</label>
         <input type="email" formControlName="email" placeholder="Enter Email" />
         <label>GST number</label>
         <input type="text" formControlName="gst" placeholder="Enter Gst Number" />
         <label>Phone Number</label>
         <input type="text" formControlName="phone_number" placeholder="Enter Mobile Number" />
         <label>Password</label>
         <input type="password" formControlName="password" placeholder="Enter Password" />
         <input type="button"   [disabled]="!sginupForm.valid" (click)="Update()" value="Update" />
       </form>
     </div>
 
 <!-----------------------------------Login Form  ------------------------------------------>

 </div>
 