
  .signup-box {
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 319px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    -webkit-transition-duration: .15s;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    /* margin-top: 35px !important; */
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 30em; */
    /* height: 18em; */
    margin-top: -9em;
    margin-left: -13em;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    /* width: 300px;
    margin-left: 20px; */
  }
  
  form label {
    display: flex;
    margin-top: 5px;
    font-size: 13px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  form  select{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
    cursor: pointer;
  }
  
  .wrapper form {
    padding: 19px !important;
}