label {

    font-family: poppinsbold !important;
    font-size: 11px !important;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    padding: 27px 17px 34px !important;
    margin: 53px 8px 30px;
    font-family: cursive;
    font-family: poppinsnor;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    font-size: 14px;
    margin-left: 8px;
    // color: #4cb53f;
}


.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.card-product{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background: #f6f9fc;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    border-radius: 8px;
    padding: 15px;
}
.paybtn{
    color: #fff!important;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36,180,126,.4);
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    -webkit-transition: .15s;
    transition: all .15s ease;
    cursor: pointer;
    font-family: poppinsnor;
    color: #003e7b;
}