.example-chip-list {
    width: 100%;
  }
  .width100{
    width: 100%;
    float: left;

  }
  .width_30{
    float: left;
    width: 28%;
    margin: 10px;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .controls{
    text-align: right;
  }
  .wrap{
    width: 100%;
    float: left;
  }
  .qty{
    width: 15%;
    text-align: center;
    float: left;
  }
  .price{
    width: 19% ;
    float: left;
  }
 
  .item{
     float: left;
    	width: 32%;
     }
.search_menu{
  width: 100%;
  padding: 9px;

}
.icon{
  font-size: 14px;
  float: left;
  background: #028f6ce8;
  border-radius: 19px;
  text-align: center;
  height: 19px;
  width: 19px;
  margin: 3px !important;
  cursor: pointer;
  padding: 2px;
  margin-top: 23px !important;
  color: white;
}

.headtitlte{
  font-size: 16px;
  margin-right: 62px ;
  margin-top: 1px;
  color: #013f7c ;
  font-weight: 500 ;
  border: 1px solid ;
  padding-left: 10px ;
  padding-right: 10px;
  height: 32px ;
  border-radius: 36px;
}

.iconsclose{
  cursor: pointer;
  margin-top: 2px;
  background: #dee2e6;
  border-radius: 20px;
  font-size: 16px;
  float: right;
  padding: 4px;
}
.menu_item {
  padding: 0px !important;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
}
.input-mobile{
  width: 100%;
}

.width_100{
  float: left;
  width: 100%;
}