<div mat-dialog-title class="">

  <h2 class="menu_item">{{this.tabledata.tablename.table_name | titlecase}} BILLING
  <mat-icon class="iconsclose"  (click)="close()"> close</mat-icon>
  </h2>
</div>
<button  *ngIf="billflag != 'view'"  mat-raised-button (click)="addItem()">ADD
  ITEM <mat-icon> add</mat-icon></button>
  <form *ngIf="menuDataList && table_id" [formGroup]="orderForm">
    <div  class="width_100" >
      <div class="width_30  inputbox">
          <input type="number" formControlName="cutomer_number" (change)="onChangeDataset()"
              placeholder="Customer Number" list="languages">
          <datalist id="languages">
              <option class="optionLIST" *ngFor="let item of conatctBookList"
                  [value]="item.contact_number">
          </datalist>
      </div>
      <div class="width_30 inputbox">
          <input type="text" formControlName="cutomer_name" placeholder="Customer Name">
      </div>
      <div  class="width_30 inputbox">
        <mat-form-field class="width_100" placeholder="kitchen" appearance="outline">
          <mat-label>Select Attender</mat-label>
          <mat-select   formControlName="attender_name">
            <mat-option *ngFor="let item of attenderDataList" [value]="item.attender_name">{{item.attender_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
 
  <mat-dialog-content>
    <div [class.wrapview]="billflag === 'view'" *ngIf="items" class="">
      <div formArrayName="items" *ngFor="let item of items.controls; index as idx">
        <div [formGroupName]="idx">
          <div class="item_wrapper">
            <div class="item">
              <mat-form-field appearance="outline" class="width_100">
                <mat-select formControlName="name" (selectionChange)="onBookChange($event,item)"
                  placeholder="Select Menu">
                  <input type="text" class="search_menu" [formControl]="myControl" placeholder="Serach Item">
                  <mat-option *ngFor="let stock of menuDataList" [value]="stock.menu_name">{{stock.menu_name}} -
                    {{stock.menu_price | currency:'INR' }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-icon class="icon" (click)="onKeyUpEvent(item,'add')"> add</mat-icon>
            <div class="qty">
              <mat-form-field class="width_100" appearance="outline">
                <mat-label>Qty</mat-label>
                <input matInput  placeholder="qty" formControlName="qty" readonly>
              </mat-form-field>
            </div>
            <mat-icon class="icon" (click)="onKeyUpEvent(item,'remove')"> remove</mat-icon>
            <div class="price">
              <mat-form-field class="width_100" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput   placeholder="Price" formControlName="price" readonly>
              </mat-form-field>
            </div>
          
            <span (click)="removeGroup(idx)">
              <mat-icon class="icon" style="background-color:red ;">delete</mat-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div *ngIf="items.length !==0 ">
      <div class="wrapperdiv1">
          <div>
              Subtotal
          </div>
          <div class="div1">
              {{this.total_bill}} Rs
          </div>
      </div>
      <div class="wrapperdiv">
          <div>
              <mat-form-field appearance="outline">
                  <mat-label>Discount</mat-label>
                  <input type="number" matInput placeholder="Discount" (change)="discountchange('list')"
                      formControlName="discount">
                  <mat-icon matSuffix>money</mat-icon>
              </mat-form-field>
          </div>
          <div class="divtotal">
              Grand Total -  Rs {{  this.total_bill}}
          </div>
      </div>
      <div class="wrapperdivbtn">
        <div   *ngIf="billflag === 'update'" >
          <button class="bbutton" (click)="UpdateItem()">Update Bill </button>
      </div>
          <div   *ngIf="billflag === 'save'" >
              <button class="bbutton" (click)="onSubmit()">Save Bill </button>
          </div>
          <div  *ngIf="billflag === 'save'">
              <button class="bbutton" (click)="onSubmit()">Save & Print </button>
          </div>
      </div>
  </div>
  </mat-dialog-actions>
</form>
<!-- [disabled]="!orderForm.valid " -->