.example-chip-list {
    width: 100%;
  }
  .width100{
    width: 100%;
    float: left;

  }
  .width_30{
   float: left;
    width: 32%;
    margin-left: 8px;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .controls{
    text-align: right;
  }
  .wrap{
    width: 100%;
    float: left;
  }
  .qty{
    width: 15%;
    text-align: center;
    float: left;
  }
  .price{
    width: 19% ;
    float: left;
  }
 
  .item{
     float: left;
    	width: 32%;
     }
.search_menu{
  width: 100%;
  padding: 9px;

}
.icon{
  font-size: 14px;
  float: left;
  background: #028f6ce8;
  border-radius: 19px;
  text-align: center;
  height: 19px;
  width: 19px;
  margin: 3px !important;
  cursor: pointer;
  padding: 2px;
  margin-top: 23px !important;
  color: white;
}

.headtitlte{
  font-size: 16px;
  margin-right: 62px ;
  margin-top: 1px;
  color: #013f7c ;
  font-weight: 500 ;
  border: 1px solid ;
  padding-left: 10px ;
  padding-right: 10px;
  height: 32px ;
  border-radius: 36px;
}

.iconsclose{
  cursor: pointer;
  margin-top: 2px;
  background: #dee2e6;
  border-radius: 20px;
  font-size: 16px;
  float: right;
  padding: 4px;
}
.menu_item {
  padding: 9px !important;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
}
.input-mobile{
  width: 100%;
}

.width_100{
  float: left;
  width: 100%;
}
.wrpbill{
  float: left;
  width: 100%; 
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: hsla(0, 88%, 43%, 0);
}
.inputbox input {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 6px;
  height: 38px;
  border-radius: 3px;
  border: 2px solid #212121c4;
  color: #212529;
  font-size: 12px;
  transition: 0.15s ease;
  width: 100%;
  line-height: 0;
}
.inputbox select {
 
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 6px;
  height: 38px;
  border-radius: 3px;
  border: 2px solid #212121c4;
  color: #212529;
  font-size: 12px;
  transition: 0.15s ease;
  width: 100%;
  /* line-height: 0; */
  margin-top: 11px;
}


.divtotalcreate {
  margin-left: 3px;
  text-align: center;
  background: #f8f9fa;
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
  line-height: 31px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 48%;
  background: rgba(255, 64, 129, 0.8117647059);
  font-weight: 500;
  float: left;
}
.divtotalcreatebtn{
  float: left;
  width: 49%;
  margin-left: 5px;
}
.bbuttoncreate {
  color: #fff !important;
  background: #00ad5f;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  white-space: nowrap;
  display: inline-block;
  /* height: 30px; */
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
  cursor: pointer;
  border: none;
  color: #fff;
  /* margin-top: 4px; */
  margin-right: 3px;
  /* text-align: right; */
  float: left;
  width: 100%;
  line-height: 31px;
}
.listwarpfixed {
  height: 292px;
  overflow: auto;
  float: left;
  width: 100%;

.table {
  padding: 4px !important;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
}
.listwrapp{
  text-align: center;
}
.prdct-qty-close {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 54px;
  background-color: #d8190c;
  color: #fff;
  font-size: 0px;
  padding: 3px;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 15px !important;
}
.product-name input{
  text-align: center !important;
}

.inputbox1 input {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 6px;
  height: 38px;
  border-radius: 3px;
  border: 2px solid #212121c4;
  color: #212529;
  font-size: 12px;
  transition: 0.15s ease;
  width: 100%;
  line-height: 0;
  margin-top: 8px;
  margin-bottom: -5px;
}
.prdct-qty-wrp {
  margin-top: 9px;
}
.fontlable{
  font-size: 11px;
}


.wrapperdiscount input {
  border-radius: 3px;
  font-size: 12px;
  padding: 7px;
  text-align: center;
}

.wrapperdiscountmobi input {
  border-radius: 3px;
  font-size: 12px;
  padding: 1px;
  text-align: center;
  width: 100%;
  border: 2px solid #000000bf;
}
.wrapperdiscountmobi select {
  width: 100%;
  padding: 1px;
  text-align: center;
  margin: 2px;
  border: 2px solid #000000bf;
}
.wrapperdiscount select {
  border-radius: 3px;
  font-size: 12px;
  padding: 7px;
  text-align: center;
  width: 166px;
    border: 2px solid gray;
    border-radius: 3px;
    padding: 9px;
}
.checkboxdata{
  float: left;
  width: 100%;
  text-align: left;
  color: black;
  padding-left: 27px;
  padding-bottom: 10px;
}

.width_20{
    float: left;
    width: 30%;
    margin-left: 8px;
}
.fontlablemobi{
  font-size: 8px;
}
.itemsd{
  padding-top: 12px !important;
  font-size: 18px !important;
  font-family: math;
}