


<!-- <h2 class="head">Apna Bill Wala</h2> -->

<div class="logindivmain" *ngIf="loginFormFlg" >
   <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's Login ApnaBillWala</h3>
          <p class="text">
              Hi! We are here to help Your Business
          </p>
        </div>
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
  
          <form  [formGroup]="loginForm"  autocomplete="off">
            <h3 class="title">Login</h3>
            <div class="input-container">
              <input type="text" name="name" formControlName="emailid" class="input" placeholder="Email Id /  Mobile Number" />
              <div *ngIf="submittedlogin && loginForm['controls']['emailid'].errors" >
                <div *ngIf="loginForm.controls['emailid'].errors['required']">* Email id  Or Mobile Number  is required</div>
              </div>
            
            </div>
       
            <div class="input-container">
              <input type="password" name="phone"  formControlName="password" class="input" placeholder="Password"/>
              <div *ngIf="submittedlogin && loginForm['controls']['password'].errors" >
                <div *ngIf="loginForm.controls['password'].errors['required']">* Password  is required</div>
              </div>
            </div>
            <input type="submit"  (click)="onLogin()" value="Login"  class="btn" />
            <div class="signup-link">
               <a routerLink="/forgetpassword">Forgot password?</a>
            </div>
            <div class="signup-link" >
               Not a member? <a  (click)="login('SignUp')">Signup now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
</div>
<div class="logindivmain" *ngIf="registerFormFlg" >
   <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's Sginup ApnaBillWala</h3>
          <p class="text">
              Hi! We are here to help Your Business
          </p>
        </div>
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
  
          <form  [formGroup]="sginupForm"  autocomplete="off">
            <h3 class="title">SignUp</h3>
            <div class="input-container">
              <input type="text" name="name" formControlName="name" class="input" placeholder="Full Name" />
              <div *ngIf="submitted && sginupForm['controls']['name'].errors" >
                <div *ngIf="sginupForm.controls['name'].errors['required']">*Full Name is required</div>
              </div>
            </div>
            <div class="input-container">
               <input type="number" name="phone_number"  formControlName="phone_number" class="input" placeholder="Phone Number"/>
               <div *ngIf="submitted && sginupForm['controls']['phone_number'].errors" >
                <div *ngIf="sginupForm.controls['phone_number'].errors['required']">*PhoneNumber is required</div>
              </div>
             </div>
            <div class="input-container">
              <input type="email" name="phone"  formControlName="email" class="input" placeholder="Email"/>
              <div *ngIf="submitted && sginupForm['controls']['email'].errors" >
                <div *ngIf="sginupForm.controls['email'].errors['required']">*Email is required</div>
                <div *ngIf="sginupForm.controls['email'].errors['email']"> *Email is invalid</div>
              </div>
            </div>
            <div class="input-container">
               <input type="password" name="password"  formControlName="password" class="input" placeholder="Password"/>
               <div *ngIf="submitted && sginupForm['controls']['password'].errors" >
                <div *ngIf="sginupForm.controls['password'].errors['required']">*Password is required</div>
              </div>
             </div>
             <div class="field" style="    height: 20px;">
               <label style="font-size: 14px;
               color: white;
               font-weight: 500;"> * Shop Type</label>
              </div>
             <div class="input-container">
               <select formControlName="shop_type"   class="input" >
                  <option value="restaurant">Restaurant </option>
                  <option value="shop">Shop </option>
               </select>
               <div *ngIf="submitted && sginupForm['controls']['shop_type'].errors" >
                <div *ngIf="sginupForm.controls['shop_type'].errors['required']">*Shop Type is required</div>
              </div>
              </div>
             <div class="input-container">
               <input type="text" name="company_name"  formControlName="company_name" class="input" placeholder="Shop Name"/>
               <div *ngIf="submitted && sginupForm['controls']['company_name'].errors" >
                <div *ngIf="sginupForm.controls['company_name'].errors['required']">*Shop Name is required</div>
              </div>
             </div>
             <div class="input-container">
               <input type="text" name="shop_address"  formControlName="shop_address" class="input" placeholder="Shop Address"/>
               <div *ngIf="submitted && sginupForm['controls']['shop_address'].errors" >
                <div *ngIf="sginupForm.controls['shop_address'].errors['required']">*Shop Address is required</div>
              </div>
             </div>
       
             <div class="input-container">
               <input type="number" name="phone"  formControlName="gst" class="input" placeholder="Gst Number"/>
             </div>

            <input type="submit" (click)="onSubmit()"value="Register" class="btn" />
            <div class="signup-link">
               <a routerLink="/forgetpassword">Forgot password?</a>
            </div>
            <div class="signup-link" >
               You a member? <a  (click)="login('login')">Login now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
</div>
<!-- <div  *ngIf="registerFormFlg"  class="divmain">
  <div class="wrapper">
    <div class="title">
      Restro Help Registration
    </div>
    <form [formGroup]="sginupForm" novalidate class="form" autocomplete="off">
       <div class="field">
        <input type="text" formControlName="name"  placeholder="Enter Name" />
       </div>
       <div class="field" style="    height: 20px;">
       <label style="    font-size: 13px;"> * Shop Type</label>
      </div>
       <div class="field">
         <select formControlName="shop_type" >
            <option value="restaurant">Restaurant </option>
            <option value="shop">Shop </option>
         </select>
        </div>
       <div class="field">
        <input type="text" formControlName="company_name" placeholder="Shop Name" />
       </div>
       <div class="field">
        <input type="text"  formControlName="shop_address" placeholder="Shop Address" />
       </div>
       <div class="field">
         <input type="text"  formControlName="gst" placeholder="Shop Gst Number" />
        </div>
       <div class="field">
        <input type="email" formControlName="email" placeholder="Enter Email" />
       </div>
       <div class="field">
        <input type="text" formControlName="phone_number" placeholder="Enter Mobile Number" />
       </div>
       <div class="field">
        <input type="password" formControlName="password" placeholder="Password">
       </div>
     
     
       <div class="field">
          <input type="submit"  (click)="onSubmit()"value="Register">
       </div>
       <div class="signup-link" >
  
          You a member? <a  (click)="login('login')">Login now</a>
       </div>
      
    </form>
  </div>
</div> -->

 


