<div  *ngIf="loginFormFlg"  class="divmain">
  <div class="wrapper">
    <div class="title">
      Restro Help Login
    </div>
    <form [formGroup]="loginForm" novalidate class="form" autocomplete="off">
       <div class="field">
          <input type="text" formControlName="emailid" placeholder="Username">
       </div>
       <div class="field">
          <input type="password" formControlName="password" placeholder="Password">
       </div>
       <div class="content">
          <div class="checkbox">
             <input type="checkbox" id="remember-me">
             <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link">
             <a href="#">Forgot password?</a>
          </div>
       </div>
       <div class="field">
          <input type="submit"   (click)="onLogin()" value="Login">
       </div>
       <div class="signup-link" >
          Not a member? <a  (click)="login('SignUp')">Signup now</a>
       </div>
    </form>
  </div>
</div>
<!-- singup -->

<div  *ngIf="registerFormFlg"  class="divmain">
  <div class="wrapper">
    <div class="title">
      Restro Help Registration
    </div>
    <form [formGroup]="sginupForm" novalidate class="form" autocomplete="off">
       <div class="field">
        <input type="text" formControlName="name"  placeholder="Enter Name" />
       </div>
       <div class="field">
        <input type="text" formControlName="company_name" placeholder="Restaurants Name" />
       </div>
       <div class="field">
        <input type="text"  formControlName="shop_address" placeholder="Shop Address" />
       </div>
       <div class="field">
        <input type="email" formControlName="email" placeholder="Enter Email" />
       </div>
       <div class="field">
        <input type="text" formControlName="phone_number" placeholder="Enter Mobile Number" />
       </div>
       <div class="field">
        <input type="password" formControlName="password" placeholder="Password">
       </div>
     
       <div class="content">
          <div class="pass-link">
             <a href="#">Forgot password?</a>
          </div>
       </div>
       <div class="field">
          <input type="submit"  (click)="onSubmit()"value="Register">
       </div>
       <div class="signup-link" >
          you a member <a  (click)="login('login')">Login now</a>
       </div>
    </form>
  </div>
</div>

 


