.fixed-footer{
  bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 28px;
    color: white;
    background: linear-gradient(-135deg, #871b7f, #71789b);
    padding-top: 6px;
    font-size: 12px;
}