.table{
    font-weight: 400 !important;
    border: 1px solid #e9ecef;

}
.mat-dialog-container {
    display: block;
    padding: 8px !important;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 400;
    background: #dee2e669;
}
.button {
	font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    height: 34px;
    border-radius: 5px;
    line-height: 1;
    border: 2px solid #eff1f6;
    color: #077f7b;
    font-size: 0.875rem;
    transition: 0.15s ease;
    background-color: #28a745;
    margin: 5px;
}
.red{
	background-color: red;
}
