.wrapper {
    width: 100% !important;
}

.container-search{ 
  float: left;
  width: 90%;
  margin: 5px;
  
  .form-input {

      height: 35px;
      text-indent: 33px;
      border-radius: 10px;
      margin-top: 5px;
      margin-left: 14px;
      border: 2px solid rgba(0, 0, 0, 0.38);

      margin-left: 2px;
  }
  
  }
  