.itemvalue{
    color: #011d46;
    display: flex;
    margin: 19px;
    padding: 3px;
    font-size: 11px;
    padding: 10px;
    cursor: pointer;

    span{
    margin-left: 13px;

    }
}

.itemvalue :hover{
    // border: 1px dotted;


}