.itemvalue{
    display: flex;
    padding: 3px;
    padding: 10px;
    cursor: pointer;
    margin-left: 17px;
    font-size: 14px;
    color: rgb(0 0 0 / 73%);

    span{
    margin-left: 13px;

    }
}

.itemvalue :hover{
    // border: 1px dotted;


}