.itemvalue{
    display: flex;
    padding: 3px;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background: #845bac;
    overflow-x: none;
    border-radius: 5px;
    width: 141px;

    span{
    margin-left: 13px;

    }
}

.itemvalue :hover{
    // border: 1px dotted;


}