<main *ngIf="tableDataList && tableDataList.length>0" class="main">
    <div class="responsive-wrapper">
        <div class="">
            <div class="search">
                <input type="text" [(ngModel)]="term" placeholder="Search" autocomplete="off"
                    placeholder="Search Table" />
            </div>
        </div>

        <div class="content">
            <div class="content-main">
                <div class="card-grid">
                    <article class="card" *ngFor="let table of tableDataList |filter : term">
                        <div class="card-header">
                            <div>
                                <a *ngIf="table.bill_status =='booked'" class="tableno" (click)="updateOder(table)">
                                    Update Order</a>
                                <a *ngIf="table.bill_status !=='booked'" class="tableno" (click)="addOder(table)"> Add
                                    Order</a>
                            </div>
                            <h3 *ngIf="table.bill_status =='booked'" class="booked"> Booked</h3>
                            <h3 *ngIf="table.bill_status !='booked'" class="Available "> Available</h3>

                        </div>
                        <div class="card-body">
                            <a class="button width100 circle_aera"> {{table.table_name | titlecase}} </a>
                        </div>
                        <div class="card-header">
                            <a *ngIf="table.bill_status =='booked' " class="tableno"
                                (click)="viewOder(table.table_id)">View Order </a>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>


<div *ngIf=" tableDataList && tableDataList.length===0">

    <div class="circle">
        <a class="button" [routerLink]="['/table']"> Add Table </a>
        <br>
        <br>
        Please Add Table First
    </div>
</div>