
td{
	// background-color:;
	
	

}

.display{
    padding: 28px;
    width: 100%;
    border: none;
    border-radius: 9px;
    float: left;
    background: #212529e0;
    font-size: 20px;
    font-size: 29px !important;
    color: white;
    outline: none;
}

.clear{

}


input[type=text] {
    color:black;
	font-size:300%;
    height:100px;
    border-radius: 5px;
    padding: 33px;
    margin: 18px;
	 
	
}
#calculator {

}

p{
	color:grey;
}

#clear{
	height:2px;
	width:2px;
	background-color: red;
}

.input{
    width: 87px;
    /* background: #2a3679; */
    height: 67px;
    /* color: white; */
    font-size: 27px !important;

}


@media only screen and (max-width: 600px) {
   
.input{
    width: 54px;

    height: 49px;

    font-size: 27px !important;
 
}
  }