<div class="logindivmain"  *ngIf="!showresetwindow" >
  <div class="container">
     <span class="big-circle"></span>
     <img src="img/shape.png" class="square" alt="" />
     <div class="form">
       <div class="contact-info">
         <h3 class="title"> BillWala</h3>
         <p class="text">
             Hi! We are here to help Your Business
         </p>
       </div>
       <div class="contact-form">
         <span class="circle one"></span>
         <span class="circle two"></span>
 
         <form *ngIf="!showresetwindow"  [formGroup]="ForgotForm"  autocomplete="off">
           <h3 class="title">Reset Password</h3>
           <div class="input-container">
             <input type="text" name="name" type="email" formControlName="email" placeholder="Please Enter The Email'Id"  class="input"  />
           </div>
           <input type="submit"[disabled]="!ForgotForm.valid" (click)="onSubmit('email')"  value="Submit"class="btn" />
           <div class="signup-link">
            you a member? <a   routerLink="/login">Login now</a>
           </div>
         </form>

         <form *ngIf="showOtp"  [formGroup]="ForgototpForm"  autocomplete="off">
          <div class="input-container">
            <input type="text"type="Enter The OTP"  formControlName="otp"  placeholder="Please Enter The OTP" class="input"  />
          </div>
          <input type="submit"[disabled]="!ForgototpForm.valid" (click)="onSubmit('otpCheck')" value=" Verify Otp" class="btn" />
        </form>
       </div>
     </div>
   </div>
 
</div>

<div class="logindivmain"  *ngIf="showresetwindow" >
  <div class="container">
     <span class="big-circle"></span>
     <img src="img/shape.png" class="square" alt="" />
     <div class="form">
       <div class="contact-info">
         <h3 class="title"> BillWala</h3>
         <p class="text">
             Hi! We are here to help Your Business
         </p>
       </div>
       <div class="contact-form">
         <span class="circle one"></span>
         <span class="circle two"></span>
 
         <form  autocomplete="off">
           <h3 class="title">Update Password</h3>
           <div class="input-container">
             <input type="password"  id="exampleInputPassword2" placeholder="Password" #newPassword class="input"  />
           </div>
           <div class="input-container">
            <input  type="password"  id="exampleInputPassword3" placeholder="Confrim Password"
            #reNewPassword class="input"  />
          </div>
           <input type="submit"   (click)="changePassword(newPassword,reNewPassword)" value="Submit"class="btn" />
           <div class="signup-link">
            you a member? <a   routerLink="/login">Login now</a>
           </div>
         </form>
       </div>
     </div>
   </div>
 
</div>

<div class="loaderwrap" *ngIf="showDataLoader === true">
  <div class="loader" >
    <mat-spinner [diameter]="60" mode="indeterminate"></mat-spinner>
  </div>
</div>