/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~bootstrap/dist/css/bootstrap.css";
.menu_item{
    text-align: center;
    border-bottom: 3px solid;
	color: #c850c0;
    padding: 10px;
  }
  
  /* width */
  ::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    button.mat-menu-item {
      width: 100%;
     
  }
  .mat-form-field-wrapper {
    /* padding-bottom: 0px !important; */
  }
  .item mat-form-field-appearance-outline mat-form-field-infix {
    padding: 6px !important;
  }
  
  .mat-dialog-container {
    /* display: block;
    padding: 4px !important; */
  }
  
  
  
  @media only screen and (max-width: 600px) {
      

.price{
    width: 17% !important;
    float: left;
  }
  .input-mobile {
	padding: 4px !important;
    width: 117% !important;
    margin-left: -9px !important;
    margin-top: 7px !important;
    font-size: 11px;
    text-align: center;
}
  .button{
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    height: 23px;
    border-radius: 8px;
    line-height: 1;
    border: 1px solid #3f51b5 !important;
    color: #404089;
    font-size: 0.875rem;
    transition: 0.15s ease;
    background-color: #ffffff;
    font-size: 7px !important;
}
  .circle {
    width: 300px;
    height: 300px;
    background: #0d6efd08;
    border-radius: 50%;
    text-align: center;
    padding: m;
    /* padding: 50px; */
    font-size: 14px;
    font-weight: 500;
    color: green;
    padding-top: 129px;
    position: fixed !important;
    top: 159px !important;
    margin-left: 40px !important;
	left: 0 !important;
}
  .mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0px 10px !important;
  }
  .mat-dialog-title {
    margin: 0 0 0px !important;
    display: block;
  }
  .headtitlte{
    font-size: 11px !important;
    margin-right: 25px !important;
    margin-top: 1px !important;
    color: #013f7c !important;
    font-weight: 500 !important;
    border-bottom: 1px solid !important;
    /* border-radius: 12px; */
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 32px !important;
  
    
  }
  .icon{
    font-size: 10px !important;
    float: left;
    /* background: #028f6ce8 !important; */
    border-radius: 19px !important;
    text-align: center !important;
    height: 14px !important;
    width: 14px !important;
    margin: 0px !important;
    cursor: pointer !important;
    padding: 2px !important;
    margin-top: 10px !important;
    color: white !important;
  }
  .qty{
	width: 11% !important;
    text-align: center;
    float: left;
  }
  .pbutton{
      font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px !important;
      height: 22px !important;
      border-radius: 12px !important;
      line-height: 1;
      border: 1px solid #eff1f6;
      color: white;
      font-size: 0.875rem;
      transition: 0.15s ease;
      background-color: #009665;
      font-size: 9px !important;
      margin-top: 6px !important;
      margin-left: 4px !important;
      width: 86px !important;
  }
  .bbutton{
   font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 1em;
      height: 24px !important;
      border-radius: 2px !important;
      line-height: 1;
      border: 2px solid #3f51b5;
      color: #404089;
      transition: 0.15s ease !important;
	  font-size: 10px !important;
	  width: 180px !important;
	  margin-top: 5px !important;
	  margin-left: 73px !important;
  
  }

  
   
  .menuwrapper {
	float: left;
    background: #fff !important;
    border-radius: 7px !important;
    padding: 28px 0 30px !important;
    margin: 0px auto !important;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    width: 100% !important;
    margin-top: 10px !important;
  }
  .clear-btn{
    width: 186px !important;
  }
  .circle_aera {
    margin-left: 17px !important;
}
  }
  

  
img {
	display: block;
	max-width: 100%;
}

:focus {
	outline: 0;
}

.responsive-wrapper {
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.header-content {
	display: flex;
	align-items: center;
	& > a {
		display: none;
	}
	@media (max-width: 1200px) {
		justify-content: space-between;
		& > a {
			display: inline-flex;
		}
	}
}




.button {
	font: inherit;
	color: inherit;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	height: 40px;
	border-radius: 8px;
	line-height: 1;
	border: 2px solid #eff1f6 !important;
	color: #404089;;
	font-size: 0.875rem;
	transition: 0.15s ease;
	background-color:  #ffffff;

	i {
		margin-right: 0.5rem;
		font-size: 1.25em;
	}

	span {
		font-weight: 500;
	}

	&:hover,
	&:focus {
		border-color: #404089;;
		color: #404089;;
	}
}


.avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;
}

.main {
	padding-top: 1rem;
    min-height: auto;
}

.booked{
    color: red;
    font-weight: 500;
    font-size: 14px;
}
.Available{
	color: green;
    font-weight: 500;
    font-size: 14px;
}
.tableno{
	cursor: pointer;
    font-size: 14px;
    margin-top: 6px;
    font-weight: 500;
}
.width100{
	width: 140px;
}
.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	h1 {
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 1.25;
		@media (max-width: 550px) {
			margin-bottom: 1rem;
		}
	}
}

.search {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 340px;
	input {
		font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 36px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #09205a75;
    color: #404089;
    font-size: 0.875rem;
    transition: 0.15s ease;
    width: 100%;
    line-height: 1;
    margin-top: 11px;
    margin-bottom: 6px;
    margin-left: 36px;

		&::placeholder {
			color: #404089;;
		}

		&:focus,
		&:hover {
			border-color: #404089;;
		}
	}

	button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 0;
		background-color: transparent;
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.25em;
		color: #404089;;
		padding: 0;
		height: 40px;
	}
}

.horizontal-tabs {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	overflow-x: auto;
	@media (max-width: 1000px) {
		scrollbar-width: none;
		position: relative;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	
}

.content-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 3rem;
	margin-top: -1px;
	border-top: 1px solid #eff1f6;
}

.content-header-intro {
	h2 {
		font-size: 1.25rem;
		font-weight: 600;
	}

	p {
		color: var(--c-text-secondary);
		margin-top: 0.25rem;
		font-size: 0.875rem;
		margin-bottom: 1rem;
	}
}

.content-header-actions {
	a:first-child {
		@media (min-width: 800px) {
			display: none;
		}
	}
}

.content {
	border-top: 3px solid #3e434f1c;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
}
.content-panel {
	display: none;
	max-width: 280px;
	width: 25%;
	padding: 2rem 1rem 2rem 0;
	margin-right: 3rem;
	@media (min-width: 800px) {
		display: block;
	}
}



.content-main {
	padding-top: 6px;
	padding-bottom: 6px;
	flex-grow: 1;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 50px;
	column-gap: 1.5rem;
	row-gap: 1.5rem;

	@media (min-width: 600px) {
		grid-template-columns: repeat(5, 1fr);
	}
	@media (min-width: 1200px) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.card {
	background-color:  #ffffff;
	box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	-webkit-transition-duration: .15s;
    transition-duration: .15s;
	width: 200px;
	margin-left: 17px;
}


///mobile
@media only screen and (max-width: 600px) {

	.cell-4 {
		width: 0px !important;
	  }
	
.card {
	background-color:  #ffffff;
	box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	-webkit-transition-duration: .15s;
    transition-duration: .15s;
    width: 160px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    grid-column-gap: 3px;
    column-gap: 0px;
    grid-row-gap: 3px;
    row-gap: 8px;
}
.tableno{
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
}
.header-logo{
    margin-right: 2.0rem;
    font-weight: 900;
    font-size: 23px;
	color: #fff !important;
    cursor: pointer;
    text-transform: capitalize;
}
  }

.card-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	div {
		display: flex;
		align-items: center;

		span {
			width: 40px;
			height: 40px;
			border-radius: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			img {
				max-height: 100%;
			}
		}

		h3 {
			margin-left: 0.75rem;
			font-weight: 500;
		}
	}
}
.card-body {
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  background: cadetblue;
  background: linear-gradient(-135deg, #8a96da, #5f333357);
}

.card-footer {
	margin-top: auto;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #eff1f6;
	a {
		color: #404089;
		text-decoration: none;
		font-weight: 500;
		font-size: 0.875rem;
	}
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
  }
  .circle{

    width: 300px;
    height: 300px;
    background: rgba(28, 74, 121, 0.0392156863);
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: green;
    padding-top: 129px;
    position: fixed;
    top: 131px;
    left: 487px;

  }
  .circle_aera{
    width: 101px;
    /* height: 101px; */
    /* border-radius: 50%; */
    font-weight: 500;
    font-size: 15px;
    margin-left: 27px;
    color: #3f51b5;
  }  .icons{
	font-size: 17px !important;
    margin-top: 5px;
    margin-right: 4px;
	cursor: pointer;
  }  .wrapperlist{
    background-image: linear-gradient(#077f7b, #077f7b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    justify-content: center;
  }

.loader{
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    top: 211px;
    left: 573px;
}

.my-full-screen-dialog .mat-dialog-container {
	max-width: none;
	width: 100vw;
	height: 100vh;
  }

  .item_wrapper{
	width: 100%;
    float: left;
    margin-top: 5px;
  }

  

  @media (min-width:801px)  { .wrapper {
	width: 668px !important;
	background: #fff;
	border-radius: 17px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }


}

.mat-dialog-container {
  display: block;
  padding: 9px !important;
}