
<div class="containerhelp">

    <div class="form">
      <div class="contact-info">
        <h3 class="title">Let's get in touch</h3>
        <p class="text">
            Hi! We are here to help Support
            Get relevant and instant solutions for your BillWala  related troubles!
        </p>

        <div class="info">
          <div class="information">
            <i class="fas fa-map-marker-alt"></i>

            <p class="ml-2 mt-4">  101 Rajeshwari Residency HITEC City Hyderabad</p>
          </div>
          <div class="information">
            <i class="fas fa-envelope"></i>
            <p class="ml-2 mt-2">aman9893jain&#64;gmail.com</p>
          </div>
          <div class="information">
            <i class="fas fa-phone"></i>
            <p class="ml-2 mt-2">9806701954</p>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>
        <form action="index.html" autocomplete="off">
          <h3 class="title">Contact us</h3>
          <div class="input-container">
            <input type="text" name="name" class="input" placeholder="Enter Name">
          </div>
          <div class="input-container">
            <input type="email" name="email" class="input"  placeholder="Enter Email"/>
    
          </div>
          <div class="input-container">
            <input type="tel" name="phone" class="input"  placeholder="Enter Phone"/>
   
          </div>
          <div class="input-container textarea">
            <textarea name="message" class="input" placeholder="Enter Comment"></textarea>
          </div>
          <input type="submit" value="Send" class="btn" />
        </form>
      </div>
    </div>
  </div>
