.fixed-footer{
    position: absolute !important;
    width: 100%;
    text-align: center;
    height: 28px;
    color: white;
    background: linear-gradient(-135deg, #212529, #71789b);
    padding-top: 6px;
    font-size: 12px;
    bottom: 0;
  }
  
  
.width100{
  float: left;
  width: 100%;
}

.width30{
  width: 48%;
  float: left;
  margin: 1%;
}