<div class="divmain">
    <div class="wrapper">
        <div class="title">
            Add Menu Name
        </div>
        <form class="menu-container" [formGroup]="tableForm" autocomplete="off" novalidate>
            <div class="field">
                <input type="text" formControlName="menu_name" placeholder="Enter Item Name">
            </div>
            <div class="field">
                <input type="text" formControlName="menu_price" placeholder="Enter Item Price">
            </div>
            <div class="field">
                <button *ngIf="!updatebtn" class="btn" type="submit" (click)="onSubmit()">Save</button>
                <button *ngIf="updatebtn" class="btn" type="submit" [disabled]="!tableForm.valid"
                    (click)="update()">Update</button>
            </div>
            <table class="table  ">
                <tbody>
                    <tr *ngFor="let table of tableDataList ;  let i=index;">
                        <td>{{table.menu_name}} </td>
                        <td>{{table.menu_price}} </td>
                        <td> <mat-icon style="color: #fff;" class="icons" (click)="edit(table)"> edit</mat-icon> </td>
                        <td> <mat-icon style="color: #000000c9;" class="icons" (click)="delete(table.menu_id)">
                                delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>